{% extends "layout.html" %}
<!-- {} This is the jinja code and the extends helps to inherit the template from the layout file -->
<!-- to use the layout file as well as to add some new components to the about file, we use the block statement which should be 
 added to both layout as well as about file-->
  <!-- to redirect to another endpoint using jinja, we write the url_for inside the placeholder  -->
 {% block content %}
 <h3>Contents: </h3>
 <ul>
    <li>Home</li>
    <li><a href="{{url_for('about')}}" target="_blank">About</a></li>
    <li><a href="{{url_for('employees')}}" target="_blank">Employees</a></li>
    <ul>
        <li><a href="{{url_for('manager')}}" target="_blank">Manager</a></li>
    </ul>
    <li>Careers</li>
    <li>Contact Us</li>
 </ul>
 {% endblock content %}